* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
}

header {
    height: 100px;
    background: rgba(24,24,26, 0.75);
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        height: 75px;
    } 
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    margin: 10px;
}

@media (max-width: 768px) {
    .logo {
    display: none;
    }
}

.navbar {
    float: right;
    display: block;
    margin: 15px;
    padding: 5px;
    color: whitesmoke;
    background-color: #142366;
    text-align: center;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    text-decoration: none;
}

@media (max-width: 1200px) {
    nav {
        display: none;
    }
}

.hamburger {
    display: block;
    position: relative;
    float: right;
    top: 0;
    width: 40px;
    cursor: pointer;
    margin: 12px;

    appearance: none;
    background: none;
    outline: none;
    border: none;

}

@media (min-width: 1200px) {
    .hamburger {
        display: none;
    }
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(231, 229, 225);
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-3px, 17px);
    position: relative;
    z-index: 100;
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-3px, -17px);
    position: relative;
    z-index: 100;
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav-item {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 1000;
    background-color: rgb(56, 56, 56);
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav-item.is-active {
    left: 0;
    display: block;
}

.mobile-nav-item a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: rgb(0, 0, 0);

    text-decoration: none;
    color: rgb(255, 255, 255);
}


footer {
    width: 100%;
    height: 200px;
    background: rgba(27,27,27, 0.75);
    padding-top: 15px;
}

.socialmediabox {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

.twitter {
    color: #1DA1F2;
}

.twitter:hover {
    background-color: #1DA1F2;
    color: white;
}

.facebook {
    color: #1877F2;
}

.facebook:hover {
    background-color: #1877F2;
    color: white;
}

.instagram {
    color: black;
}

.instagram:hover {
    background-color: black;
    color: white;
}

.youtube {
    color: #FF0000;
    vertical-align: middle;
    text-align: center;
}

.youtube:hover {
    background-color: #FF0000;
    color: white;
}

.showcase video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -2;
}

@media (max-width: 768px) {
    .showcase video {
        display: none;
    }
}

.heroimage {
    width:100%;
    height:100%;
    z-index: 100;
    background-image: url(../IMG/hero-image.jpg);
    object-fit: contain;
    margin: 250px auto 150px auto;
    filter: drop-shadow(0 0 0.75rem rgb(255,255,255));
    border-radius: 25px;
}

@media (max-width: 768px) {
    .heroimage {
        height: 850px;
    }
}

.heropage {
    padding: 250px 0px 250px 25px;
    line-height: 1.5;
}

.mogstationlogo {
    position: absolute;
    top: 0px;
    right: 25px;
}

.mogstationlogo:hover {
    filter: brightness(0.3) invert(1);
}

@media (max-width: 768px) {
    .mogstationlogo {
        filter: brightness(0.3) invert(1);
        display: flex;
        justify-content: center;
    }

/*     .mogsize {
        width: 85%;
        height: auto;
        margin: 0 auto;
    } */
}

.signupbutton {
    padding: 10px 20px;
    background-color:  yellow;
    color:#000000;
    border: none;
    border-radius: 2px;
    margin-top: 25px;
    font-weight: bold;
}

.signupbutton:hover {
    color:#1877F2;
}

@media (max-width: 768px) {
    .signupbutton {
        position: relative;
        left: 30%;
    }
}

.about-h2 {
    color: #ECF7FF;
    font-size: 50px;
    font-style: italic;
    text-shadow: 3px 3px #52AAEE;
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 490px) {
    .about-h2 {
        font-size: 38px;
    }
}

.about-p {
    line-height: 1.5;
    font-family: 'Nanum Myeongjo', sans-serif;
}

@media (max-width: 578px) {
    .about-container {
        width: auto !important;
        margin: 0 10px !important;
        padding: 0 !important;
    }
}

.summarypage {
    width: auto;
    height: 100%;
    padding: 25px 0 50px 0;
    background: rgba(255, 255, 255, 0.75);
    margin: 0 auto 150px auto;
}

.spacingsummarypage {
    line-height: 1.5;
    font-family: 'Nanum Myeongjo', sans-serif;
}

.column {
    display: flex;
    width: 20%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}

.box {
    padding: 2em;
    border: 1px solid #ccc;
    display: block;
    
    width: 25%;
    height: 100%;
    background:rgba(255, 255, 255, 0.75);
    margin: 5px;
    border-radius: 5%;
}
  
.box:hover {
    filter: drop-shadow(0 0 0.75rem rgb(255,255,255));
    position: relative;
    display: block;
    height: auto;
    top: -10px;
}

.learnmore {
    width: 100%;
    height: auto;
    background-color: black;
}

.carouseltext {
    text-align: center;
    color:#000000;
}

.carousel-background {
    background-color: #F6F5FB !important;
}

@media (max-width: 990px) {
    .learnmore {
    background-image: linear-gradient(to right, #4C5FBF ,#44A9DE, #FD9935);
    }
}

.box:hover .learnmore {
    background-image: linear-gradient(to right, #4C5FBF ,#44A9DE, #FD9935);
}

.container-mobile {
    z-index: 0;
}

@media (min-width: 990px) {
    .container-mobile {
        display: none;
    }
}

@media (max-width: 990px) {
    .container-desktop {
        display: none;
    }
}

.aboutimg {
    width: 100%;
}

.productpage {
    width: 80%;
    height: auto;
    padding: 25px 50px 50px 50px;
    background: rgba(255, 255, 255, 0.75);
    margin: 0 auto 150px auto;
}

@media (max-width: 768px) {
    .productpage {
        width: 100%;
        padding: 25px 0 50px 0;
    }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #444;
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
}

@media (max-width: 768px) {
    .media-scroller {
        display: grid;
        grid-auto-flow: column;

        overflow-x: auto;
        overscroll-behavior-inline: contain;
        
    }
}

.border-right {
    border-right: #F8F9FA;
}

td {
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

.divarea {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin: 5% auto;
}

@media (max-width: 768px) {
    .divarea {
        width: 75%;
        margin: 25% auto;
    }
}

.buttonsubmit {
    width: 100%;
}